<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- importing css dependencies -->
    <link rel="stylesheet" href="./css/animate.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!-- importing custom css -->
    <link rel="stylesheet" href="./css/main.css">
    <!-- importing jquery -->
    <script src="./js/jquery.min.js"></script>
</head>

<body ng-app='dashboard' ng-controller="dashCtrl">
    <div class="container-fluid row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <h2 class="ml-2 mt-1 mb-5">Dashboard</h2>
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <ul class="nav flex-column mb-5 animated fadeInLeft delay-1s">
                        <li class="nav-item mb-1">
                            <a href="#pictures"
                                class="nav-link active row d-flex align-items-center justify-content-center"
                                id="pictures-tab" data-toggle="tab" role="tab" aria-controls="pictures"
                                aria-selected="true">
                                <div class="col-4 d-flex justify-content-end">
                                    <img src="https://img.icons8.com/color/50/000000/picture.png"
                                        class="d-header-icon mr-2">
                                </div>
                                <div class="col-8 justify-content-start">
                                    <span>Pictures</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item mb-1">
                            <a href="#testimonies" class="nav-link row d-flex align-items-center justify-content-center"
                                id="testimonies-tab" data-toggle="tab" role="tab" aria-controls="testimonies"
                                aria-selected="false">
                                <div class="col-4 d-flex justify-content-end">
                                    <img src="https://img.icons8.com/color/48/000000/good-quality.png"
                                        class="d-header-icon mr-2">
                                </div>
                                <div class="col-8 justify-content-start">
                                    <span>Testimonies</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item mb-1">
                            <a href="#aboutme" class="nav-link row d-flex align-items-center justify-content-center"
                                id="aboutme-tab" data-toggle="tab" role="tab" aria-controls="aboutme"
                                aria-selected="false">
                                <div class="col-4 d-flex justify-content-end">
                                    <img src="https://img.icons8.com/color/48/000000/user.png"
                                        class="d-header-icon mr-2">
                                </div>
                                <div class="col-8 justify-content-start">
                                    <span>About-me</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item mb-1">
                            <a href="#contact" class="nav-link row d-flex align-items-center justify-content-center"
                                id="contact-tab" data-toggle="tab" role="tab" aria-controls="contact"
                                aria-selected="false">
                                <div class="col-4 d-flex justify-content-end">
                                    <img src="https://img.icons8.com/office/16/000000/contacts.png"
                                        class="d-header-icon mr-2">
                                </div>
                                <div class="col-8 justify-content-start">
                                    <span>Contact</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav flex-column animated fadeInRight delay-1s">
                        <li class="nav-item mb-1" ng-click="logout()">
                            <a href="#chart" class="nav-link row d-flex align-items-center justify-content-center"
                                id="chart-tab" data-toggle="tab" role="tab" aria-controls="chart" aria-selected="false">
                                <div class="col-4 d-flex justify-content-end">
                                    <img src="https://img.icons8.com/metro/26/000000/exit.png"
                                        class="d-header-icon mr-2">
                                </div>
                                <div class="col-8 d-flex justify-content-start">
                                    <span>Logout</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4 main-screen animated fadeIn delay-1s">
            <div class="chartjs-size-monitor"
                style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                <div class="chartjs-size-monitor-expand"
                    style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink"
                    style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
            </div>
            <!-- tab contents -->
            <div class="tab-content" id="nav-tabContent">
                <!-- pictures tab content screen -->
                <div class="tab-pane fade show active" id="pictures" aria-labelledby="pictures-tab" role="tabpanel">
                    <div class="navbar">
                        <h5 class="mt-3 font-weight-light">Home page pictures</h5><span
                            class="animated flash delay-1s {{hpPhotos.length < 3 ? 'infinite': 'finite' }}">Please
                            make sure you have three photos on the homepage</span>
                    </div>
                    <div class="card-horizontal animated fadeIn delay-2s">
                        <div
                            class="card-columns d-flex justify-content-center align-items-center animated fadeIn delay-3s">
                            <div class="card" ng-repeat="hpPhoto in hpPhotos" style="width: 18rem !important">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="row d-flex justify-content-center">
                                            <div class=" badge   text-dange badge-pill badge-danger"
                                                ng-click="addPictureToHome(hpPhoto.id,hpPhoto.homepage,hpPhoto.category)">
                                                remove
                                            </div>
                                            <div class=" badge badge-pill" data-toggle="modal"
                                                data-target="#updPicModal"
                                                ng-click="selPhoto(hpPhoto.id,hpPhoto.caption,hpPhoto.photolink,hpPhoto.category)">
                                                edit</div>
                                        </div>
                                    </div>
                                    <img src={{hpPhoto.photolink}} alt="" class="card-img" />
                                    <div class="text-truncate" ng-bind="hpPhoto.caption"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar mt-5">
                        <div class="row d-flex align-items-center">
                            <h5 class="mt-3 font-weight-light">Gallery</h5>
                            <span class="ml-2" style="color: rgb(102,152,197)">categories</span>
                        </div>
                        <div class="row ml-auto">
                            <div class="btn" data-toggle="modal" data-target="#categoryModal">
                                <img src="https://img.icons8.com/ios/50/000000/plus.png" class="d-nav-icon">
                            </div>
                        </div>
                    </div>
                    <div class="cat-horizontal">
                        <div class="card-columns">
                            <center>
                                <div class="card animated fadeIn delay-1s m-2 shadow-lg p-3 mb-5 rounded"
                                    style="width: 18rem !important;background: {{category.color}};border-radius:10px"
                                    ng-repeat="category in categories">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="card-title text-light">
                                                <h5 ng-bind="category.name" style="text-transform: capitalize;">
                                                </h5>
                                                <span class="lead m-1 text-disabled" ng-bind="category.total"></span>
                                            </div>
                                            <div class="flex-row ml-auto d-flex justify-content-center">
                                                <img src="https://img.icons8.com/android/24/000000/plus.png"
                                                    class="c-head-icon m-1" class="c-head-icon m-1"
                                                    ng-click="selCategory(category.id,category.name,category.caption,category.color,category.icon)"
                                                    data-toggle="modal" data-target="#addPicModal">
                                                <img src="https://img.icons8.com/material-sharp/96/000000/multi-edit.png"
                                                    class="c-head-icon m-1" data-toggle="modal"
                                                    data-target="#upCategoryModal"
                                                    ng-click="selCategory(category.id,category.name,category.caption,category.color,category.icon)">
                                                <img src="https://img.icons8.com/small/96/000000/waste.png"
                                                    class="c-head-icon m-1" ng-click="delCategory(category.name)">
                                            </div>
                                        </div>
                                        <div class="text-light" ng-bind="category.caption"></div>
                                        <div class="row mt-5 d-flex align-items-center justify-content-center">
                                            <div class="text-light btn" style="text-decoration: none"
                                                data-toggle="modal" data-target="#photosModal"
                                                ng-click="getPhotosByCat(category.name)">View all</div>
                                            <img src={{category.icon}} class="d-card-icon ml-2" alt="events">
                                        </div>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <!-- Testimonies content screen -->
                <div class="tab-pane fade active" id="testimonies" aria-labelledby="testimonies-tab" role="tabpanel">
                    <div class="navbar">
                        <h5 class="mt-3 font-weight-light">Testimonies</h5>
                        <div class="row ml-auto">
                            <span
                                class="mr-3 animated flash delay-1s {{testimonies.length < 3 ? 'infinite': 'finite' }}">Please
                                make sure you have three testimonies</span>
                            <div class="btn" data-toggle="modal" data-target="#addtestimoniesModal">
                                <img src="https://img.icons8.com/ios/50/000000/plus.png" class="d-nav-icon">
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="card animated fadeIn m-2 text-center shadow-lg p-3 mb-5 rounded"
                            style="width: 18rem !important;background-color: rgb(51,51,51);"
                            ng-repeat="testimony in testimonies">
                            <div class="card-body">
                                <img src={{testimony.imagelink}} alt=""
                                    class="rounded-circle card-img-top small-top-img">
                                <div class="d-flex flex-column justify-content-center">
                                    <span style="color:#ffd700;text-transform: capitalize"
                                        ng-bind="testimony.names"></span>
                                    <span
                                        style="color:rgb(168,141,72);text-transform: capitalize">{{testimony.title}},{{testimony.company}}</span>
                                </div>
                                <p class="text-light text-truncate" ng-bind="testimony.caption">
                                </p>
                                <div class="row d-flex justify-content-center">
                                    <div class="btn btn-danger m-1" ng-click="delTestimony(testimony.id)">delete
                                    </div>
                                    <div class="btn text-light m-1" data-toggle="modal"
                                        data-target="#updtestimoniesModal"
                                        ng-click="selTestimony(testimony.names,testimony.imagelink,testimony.title,testimony.company,testimony.caption,testimony.id)">
                                        Edit</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- about-me content screen -->
                <div class="tab-pane fade active" id="aboutme" aria-labelledby="aboutme-tab" role="tabpanel">
                    <div class="navbar">
                        <h5 class="mt-3 font-weight-light">About-me</h5>
                        <div class="btn btn-secondary" data-toggle="modal" data-target="#updBioModal">edit</div>
                    </div>
                    <div class="card" style="width:auto !important;background: white !important;border-radius:10px">
                        <div class="card-body">
                            <div class="mt-3 row">
                                <div class="col-4">
                                    <h1 class="display-4 font-weight-bold" style="text-transform: capitalize">My
                                        name is {{bio.me}}</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7">
                                    <p ng-bind="bio.bio">
                                    </p>
                                </div>
                            </div>
                            <div class="m-1 d-flex justify-content-center">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="row">
                                            <h3 class="display-4" ng-bind="bio.pounds"></h3>
                                            <span>pounds of equipments</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="row">
                                            <h3 class="display-4" ng-bind="bio.otsession"></h3>
                                            <span>Finished photosessions</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="row">
                                            <h3 class="display-4" ng-bind="bio.stsession"></h3>
                                            <span>Studio sessions</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="row">
                                            <h3 class="display-4" ng-bind="bio.clients"></h3>
                                            <span>Happy clients</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="bg-dark m-2 rounded">
                                    <img src={{bio.imagelink}} alt="signature" class="m-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- contact content screen -->
                <div class="tab-pane fade active" id="contact" aria-labelledby="contact-tab" role="tabpanel">
                    <div class="navbar">
                        <h5 class="mt-3 font-weight-light">Contact</h5>
                        <div class="btn btn-secondary" data-toggle="modal" data-target="#updContactModal">edit</div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <h4 class="display-4 m-3">My location</h4>
                            <span class="font-weight-bold" ng-bind="contacts.street"></span></br>
                            <span class="font-weight-bold" ng-bind="contacts.district"></span></br>
                            <span class="font-weight-bold" ng-bind="contacts.city"></span>
                            <p class="font-weight-light" ng-bind="contacts.description"></p>
                        </div>
                        <div class="col-6 text-center">
                            <h4 class="display-4 m-3">My Contacts</h4>
                            <span class="font-weight-bold" ng-bind="contacts.email"></span></br>
                            <span class="font-weight-bold" ng-bind="contacts.phone"></span>
                        </div>
                    </div>
                    <!-- social medias -->
                    <div>
                        <span class="lead mt-5">Social medias</span>
                        <div class="btn" data-toggle="modal" data-target="#addSMModal">
                            <img src="https://img.icons8.com/ios/50/000000/plus.png" class="d-nav-icon m-3">
                        </div>
                    </div>
                    <div class="row">
                        <div ng-repeat="sm in sms">
                            <span class="m-2">|</span>
                            <span class="m-1" ng-bind="sm.name"></span>
                            <span class="btn m-1" data-toggle="modal" data-target="#updSMModal"
                                ng-click="selSM(sm.id,sm.name,sm.link)">edit</span>
                            <span class="btn m-1 btn-danger" ng-click="delSM(sm.id)">delete</span>
                        </div>
                    </div>
                </div>
                <!-- settings content screen -->
                <div class="tab-pane fade active" id="settings" aria-labelledby="settings-tab" role="tabpanel">
                    settings
                </div>
            </div>
        </main>
    </div>
    <!-- modals -->
    <!-- add category -->
    <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Name</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: Events" aria-label="CategoryName"
                            aria-describedby="basic-addon1" ng-model="catname">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Caption</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: Pictures of events"
                            aria-label="Icon Link" aria-describedby="basic-addon1" ng-model="catcaption">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Color</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: #FFF" aria-label="ColorCode"
                            aria-describedby="basic-addon1" ng-model="catcolor">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Icon Link</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: http://icons8......"
                            aria-label="Icon Link" aria-describedby="basic-addon1" ng-model="catlink">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" ng-click="addCategory()">add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- category updating modal -->
    <div class="modal fade" id="upCategoryModal" tabindex="-1" role="dialog" aria-labelledby="upCategoryModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update category #<span ng-bind="selcatname"
                            style="text-transform: capitalize;" class="lead"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Name</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: Events" aria-label="CategoryName"
                            aria-describedby="basic-addon1" ng-model="selcatname" value="{{selcatname}}">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Caption</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: Pictures of events"
                            aria-label="Icon Link" aria-describedby="basic-addon1" ng-model="selcatcaption">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Color</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: #FFF" aria-label="ColorCode"
                            aria-describedby="basic-addon1" ng-model="selcatcolor">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Icon Link</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: http://icons8......"
                            aria-label="Icon Link" aria-describedby="basic-addon1" ng-model="selcatlink">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="updCategory()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- add a picture modal -->
    <div class="modal fade" id="addPicModal" tabindex="-1" role="dialog" aria-labelledby="addPicModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a picture in #<span ng-bind="selcatname"
                            style="text-transform: capitalize;" class="lead"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Image Link</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: https://www.dropbox.com....."
                            aria-label="image Link" aria-describedby="basic-addon1" ng-model="imagelink">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Caption</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: have you smiled at someone today?"
                            aria-label="Icon Link" aria-describedby="basic-addon1" ng-model="imagecaption">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" ng-click="addPicture()">add</button>
                </div>
            </div>
        </div>
    </div>
    <!-- photos by category modal -->
    <div class="modal fade" id="photosModal" tabindex="-1" role="dialog" aria-labelledby="photosModal"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">All photos in #<span ng-bind="selcatname"
                            style="text-transform: capitalize;" class="lead"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div ng-show="reqloading">
                        <h5 class="display-4">Loading....</h5>
                    </div>
                    <div class="card-columns" ng-show="reqresp">
                        <div class="card m-2" ng-repeat="photo in photos | orderBy:'date' : reverse">
                            <img class="card-img-top" src={{photo.photolink}} alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text" ng-bind="photo.caption"></p>
                            </div>
                            <div class="flex-row d-flex justify-content-center">
                                <img src="{{ photo.homepage == '0'? 'https://img.icons8.com/material-outlined/64/000000/real-estate.png' : 'https://img.icons8.com/material-two-tone/96/000000/real-estate.png'}}"
                                    class="c-head-icon m-1" class="c-head-icon m-1"
                                    ng-click="addPictureToHome(photo.id,photo.homepage)" />
                                <img src="https://img.icons8.com/material-sharp/96/000000/multi-edit.png"
                                    class="c-head-icon m-1" data-toggle="modal" data-target="#updPicModal"
                                    ng-click="selPhoto(photo.id,photo.caption,photo.photolink)">
                                <img src="https://img.icons8.com/small/96/000000/waste.png" class="c-head-icon m-1"
                                    ng-click="delPhoto(photo.id)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- upd a picture modal -->
    <div class="modal fade" id="updPicModal" tabindex="-1" role="dialog" aria-labelledby="updPicModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">upd a picture in #<span ng-bind="selphtname"
                            style="text-transform: capitalize;" class="lead"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Image Link</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: https://www.dropbox.com....."
                            aria-label="image Link" aria-describedby="basic-addon1" ng-model="selimagelink"
                            value="{{selimagelink}}">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Caption</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: have you smiled at someone today?"
                            aria-label="Icon Link" aria-describedby="basic-addon1" ng-model="selimagecaption"
                            value="{{selimagecaption}}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" ng-click="updPicture()">update</button>
                </div>
            </div>
        </div>
    </div>
    <!-- add a testimony modal -->
    <div class="modal fade" id="addtestimoniesModal" tabindex="-1" role="dialog" aria-labelledby="addtestimoniesModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Testimony</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Image Link</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: https://www.dropbox.com....."
                            aria-label="image Link" aria-describedby="basic-addon1" ng-model="timagelink">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Names</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: Ayuk Ciara" aria-label="Icon Link"
                            aria-describedby="basic-addon1" ng-model="tnames">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Position</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: CEO" aria-label="Icon Link"
                            aria-describedby="basic-addon1" ng-model="tposition">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Company</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: Social Dynamics Africa"
                            aria-label="Icon Link" aria-describedby="basic-addon1" ng-model="tcompany">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Caption</span>
                        </div>
                        <textarea class="form-control" placeholder="example: have you smiled at someone today?"
                            aria-label="Icon Link" aria-describedby="basic-addon1" ng-model="tcaption"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" ng-click="addTestimony()">add</button>
                </div>
            </div>
        </div>
    </div>
    <!-- update a testimony modal -->
    <div class="modal fade" id="updtestimoniesModal" tabindex="-1" role="dialog" aria-labelledby="updtestimoniesModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">update Testimony #<span ng-bind="selTnames"
                            class="lead"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Image Link</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: https://www.dropbox.com....."
                            aria-label="image Link" aria-describedby="basic-addon1" ng-model="selTimagelink"
                            value="{{selTimagelink}}">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Names</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: Ayuk Ciara" aria-label="Icon Link"
                            aria-describedby="basic-addon1" ng-model="selTnames" value="{{selTnames}}">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Position</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: CEO" aria-label="Icon Link"
                            aria-describedby="basic-addon1" ng-model="selTposition" value="{{selTposition}}">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Company</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: Social Dynamics Africa"
                            aria-label="Icon Link" aria-describedby="basic-addon1" ng-model="selTcompany"
                            value="selTcompany">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Caption</span>
                        </div>
                        <textarea class="form-control" placeholder="example: have you smiled at someone today?"
                            aria-label="Icon Link" aria-describedby="basic-addon1" ng-model="selTcaption"
                            value="selTcaption"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" ng-click="updTestimony()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!-- update bio -->
    <div class="modal fade" id="updBioModal" tabindex="-1" role="dialog" aria-labelledby="updBioModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">update Info about yourself</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Names</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Icon Link" aria-describedby="basic-addon1"
                            ng-model="biome" value="biome">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Pounds of equipments</span>
                        </div>
                        <input type="number" class="form-control" placeholder="example: 123" aria-label="Icon Link"
                            aria-describedby="basic-addon1" ng-model="biop" value="{{biop}}">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Studio sessions</span>
                        </div>
                        <input type="number" class="form-control" aria-label="Icon Link" aria-describedby="basic-addon1"
                            ng-model="biost" value="{{biost}}">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Happy clients</span>
                        </div>
                        <input type="number" class="form-control" aria-label="Icon Link" aria-describedby="basic-addon1"
                            ng-model="biocl" value="{{biocl}}">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Imagelink(signature)</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Icon Link" aria-describedby="basic-addon1"
                            ng-model="bioimagelink" value="{{bioimagelink}}">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">about me</span>
                        </div>
                        <textarea class="form-control" aria-label="Icon Link" aria-describedby="basic-addon1"
                            ng-model="biobio" value="bio.bio"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" ng-click="updBio()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!-- update contact -->
    <div class="modal fade" id="updContactModal" tabindex="-1" role="dialog" aria-labelledby="updContactModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">update Contacts info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Email</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Icon Link" aria-describedby="basic-addon1"
                            ng-model="cemail" value="cemail">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Phones</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Icon Link" aria-describedby="basic-addon1"
                            ng-model="cphone" value="cphone">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Street</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Icon Link" aria-describedby="basic-addon1"
                            ng-model="cstreet" value="cstreet">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">District</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: 123" aria-label="Icon Link"
                            aria-describedby="basic-addon1" ng-model="cdistrict" value="cdistrict">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">City</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Icon Link" aria-describedby="basic-addon1"
                            ng-model="ccity" value="ccity">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Location description</span>
                        </div>
                        <textarea class="form-control" aria-label="Icon Link" aria-describedby="basic-addon1"
                            ng-model="cdesc" value="cdesc"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" ng-click="updContact()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!-- add a social media modal -->
    <div class="modal fade" id="addSMModal" tabindex="-1" role="dialog" aria-labelledby="addSMModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">add a socail media account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Name</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: Facebook" aria-label="Icon Link"
                            aria-describedby="basic-addon1" ng-model="smname">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Link</span>
                        </div>
                        <input type="text" class="form-control"
                            placeholder="example: https://www.facebook.com/abayo.sabin/" aria-label="Icon Link"
                            aria-describedby="basic-addon1" ng-model="smlink">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" ng-click="addSM()">add</button>
                </div>
            </div>
        </div>
    </div>
    <!-- update sm -->
    <div class="modal fade" id="updSMModal" tabindex="-1" role="dialog" aria-labelledby="updSMModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">update your {{selsmname}} account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Name</span>
                        </div>
                        <input type="text" class="form-control" placeholder="example: Facebook" aria-label="Icon Link"
                            aria-describedby="basic-addon1" ng-model="selsmname" value="selsmname">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Link</span>
                        </div>
                        <input type="text" class="form-control"
                            placeholder="example: https://www.facebook.com/abayo.sabin/" aria-label="Icon Link"
                            aria-describedby="basic-addon1" ng-model="selsmlink" value="selsmlink">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" ng-click="updSM()">update</button>
                </div>
            </div>
        </div>
    </div>
    <!-- import js dependencies -->
    <script src="./js/bootstrap.min.js"></script>
    <script src="../js/angular.js"></script>
    <script src="../js/sweetalert2.js"></script>
    <script src="../js/custom.js"></script>
</body>

</html>